{% extends "headfoot.html" %}

{% block content %}
<div class = "col">
    <h2>Covid-19 Situation in Sri Lanka</h2>
    <p>Last Updated: {{context.update_date_time}}</p>

<div  class="row" >
    
  <div  class="col-md">	  
               
		<div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(248, 127, 127);">
      <h8 style="color:rgb(71, 0, 0);">Confirmed cases</h8>		
      <p></p>	           
            <h3 style="color:rgb(192, 2, 2);">{{context.local_total_cases}}</h3>
		</div>
  </div>

  <div class="col-md">
		<div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(123, 153, 251);">
      <h8 style="color:rgb(3, 24, 95);">Active cases</h8>	
      <p></p>		           
            <h3 style="color:rgb(10, 60, 224);">{{context.local_active_cases}}</h3>
		</div>
  </div>

  <div class="col-md">
		<div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(185, 182, 182);">
      <h8 style="color:rgb(31, 30, 30);">Deaths</h8>			 
      <p></p>          
        <h3 style="color:rgb(63, 63, 63);">{{context.local_deaths}}</h3>
		</div>
  </div>

  <div class="col-md">
		<div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(159, 240, 173);">
      <h8 style="color:rgb(2, 80, 15);">Recovered</h8>			
      <p></p>           
        <h3 style="color:rgb(7, 207, 41);">{{context.local_recovered}}</h3>       

		</div>
  </div>

  <div class="col-md">
		<div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(211, 255, 140);">
      <h8 style="color:rgb(44, 80, 2);">Daily New Cases</h8>		
      <p></p>	           
        <h3 style="color:rgb(165, 235, 2);">{{context.local_new_cases}}</h3>       
	</div>
  </div>

  <div class="col-md">
    <div class="row">
      <div class="col-md">
		<div id="dev_wig" class="card dev_h8" style="background-color:rgb(184, 195, 167);">
      <div class="card-body" style="background-color:rgb(185, 182, 182);">
        <h8>Death Rate</h8>
        <h3 style="color:rgb(63, 63, 63);">{{context.local_death_rate}}%</h3>		           
    </div>
    
    <div class="card-body" style="background-color:rgb(159, 240, 173);">
      <h8>Recovery Rate</h8>			           
      <h3 style="color:rgb(7, 207, 41);">{{context.local_recovery_rate}}%</h3> 
    </div>
  </div>
    </div>
    
  </div>
  </div>
</div></div>
<br>
<br>
<div class="col">
	
		<div class="card card-body" style="background-color:rgb(216, 213, 213);">

            <h5>PCR Testing in Sri Lanka</h5>
            <p></p>
            
            <div class="scrollmenu">
                  <!-- Placeholder for graph-->
              <div id="pcr_graph"></div>
            </div>

		</div>
<br>
    <div class="card card-body" style="background-color:darkgray;">

        <h5>Visualize hospital details</h5>
        <hr>
    </div>
</div>
<br>
<hr>
<br>
<div class = "col">
  <h2>Covid-19 Global Situation</h2>
  <p>Last Updated: {{context.global_update_date}}</p>

<div  class="row" >
  <div  class="col-md">	           
  <div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(248, 127, 127);">
    <h8 style="color:rgb(71, 0, 0);">Confirmed cases</h8>	
    <p></p>		           
          <h3 style="color:rgb(192, 2, 2);">{{context.global_total_confirmed}}</h3>
  </div>
</div>

<div class="col-md">
  <div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(123, 153, 251);">
    <h8 style="color:rgb(3, 24, 95);">Active cases</h8>	
    <p></p>		           
          <h3 style="color:rgb(10, 60, 224);"></h3>    
  </div>
</div>

<div class="col-md">
  <div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(185, 182, 182);">
    <h8 style="color:rgb(31, 30, 30);">Deaths</h8>			           
      <h3 style="color:rgb(63, 63, 63);">{{context.global_total_deaths}}</h3>
            <p></p>
  </div>
</div>

<div class="col-md">
  <div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(159, 240, 173);">
    <h8 style="color:rgb(2, 80, 15);">Recovered</h8>		
    <p></p>	           
      <h3 style="color:rgb(7, 207, 41);">{{context.global_total_recovered}}</h3>    
  </div>
</div>

<div class="col-md">
  <div id="dev_wig" class="card card-body dev_h8" style="background-color:rgb(211, 255, 140);">
    <h8 style="color:rgb(44, 80, 2);">Daily New Cases</h8>		
    <p></p>	           
      <h3 style="color:rgb(165, 235, 2);">{{context.global_today_new}}</h3>      
  </div>
</div>

<div class="col-md">
  <div class="row">
    <div class="col-md">
  <div id="dev_wig" class="card dev_h8" style="background-color:rgb(184, 195, 167);">
    <div class="card-body" style="background-color:rgb(185, 182, 182);">
      <h8>Death Rate</h8>
      <h3 style="color:rgb(63, 63, 63);">{{context.global_death_rate}}%</h3>		           
  </div>
  
  <div class="card-body" style="background-color:rgb(159, 240, 173);">
    <h8>Recovery Rate</h8>			           
    <h3 style="color:rgb(7, 207, 41);">{{context.global_recovery_rate}}%</h3> 
  </div>
</div>
  </div>
  
</div>
</div>
</div></div>
<br>
<div class="col">
	
    <div class="card card-body" style="background-color:rgb(240, 235, 235);">

        <h5>Visualize Heat map</h5>
        <hr>
        <div class="container-fluid">
          <div class="row">
              <div id="col_w_map" class="col"></div>
              <div class="col-6 scrollmenu">
                  <!-- Placeholder for map-->
                  <div id="global_heat_map"></div>
              </div>
              <div id="col_w_map" class="col"> </div>
          </div>          
      </div>

    </div>
<br>
</div>


<script type="text/javascript">
  function parse(url, div) {
      var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: { export: true, source: false, editor: false }
      };
      vegaEmbed("#" + div, url, opt, function (error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
      });
  }
  //Parse your Json variable here
  parse({{ context.local_pcr_test_chart_json | safe }}, "pcr_graph");
  parse({{ context.global_map_json | safe }}, "global_heat_map");
 
</script>




<!-------------------------------------------------->




<a href="#" onClick="autoFill(); return true;" >Click to Autofill</a>
<form>
  <p>
    <label>Text Input: </label>
    <input type="text" id="input1">
  </p>
  <p>
    <label>Dropdown Input: </label>
    <select id="input2">

      {%for i in range(0, len)%} 
  
            <li>{{Pokemons[i]}}</li> 
            
      {%endfor%} 

      <option value="Dropdown1">First Option</option>
      <option value="Dropdown2">Second Option</option>
      <option value="Dropdown3">Third Option</option>
    </select>
  </p>
 </form>



<script type="text/javascript">
  function autoFill() {
    document.getElementById('input1').value = "My Text Input";
    document.getElementById('input2').value = "Dropdown2";
 
    var radioElements = document.getElementsByName("input3");

    for (var i=0; i<radioElements.length; i++) {
      if (radioElements[i].getAttribute('value') == 'Radio3') {
        radioElements[i].checked = true;
      }
    }
  }
</script>












<!-------------------------------------------------->








{% endblock %}